{% extends "base_generic.html" %}

{% block content %}
<h1>Главная страница</h1>
    <p>Добро пожаловать в <em>Мир книг</em>, Это простой веб сайт, написанный на Django. Разработанный мной в качестве
        учебного примера</p>
<h2>Динмаический контент</h2>
    <p> База данных сайта Мир книг содержит следующее количество записей: </p>
    <ul>
        <li><strong>Количество книг:</strong> {{num_books}}</li>
        <li><strong>Количество экземпляров книг:</strong> {{num_instances}} </li>
        <li><strong>Количество экземпляров книг на заказе:</strong> {{num_instances_available }} </li>
        <li><strong>Количество авторов книг:</strong> {{num_author}} </li>
    </ul>
    <p>Количество посещений страницы - {{num_visits }}</p>
{% endblock %}
